.cart-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.cart-container h1 {
  margin-bottom: 20px;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

.card-li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li h3 {
  margin: 5px;
  color: #444;
  width: 300px;
}

li p {
  width: 70px;
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}

h3 {
  color: #2a9d8f;
}

.cart-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 25px;
  transition: background-color 0.3s ease-in-out;
  margin-left: 20px;
}
.cart-button:hover {
  background-color: #21867a;
}

.cart-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media (max-width: 600px) {
  li {
    flex-direction: column;
    align-items: flex-start;
  }

  li p {
    margin-bottom: 10px;
  }
}
